/* Styles.css */

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
}

.gridSquare {
    border: 1px solid red;
    width: 60px;
    height: 60px;
}